In [50]:
import os
import pandas as pd
import numpy as np

In [51]:
foods = pd.read_csv('Food_Preference.csv', header=0)
foods.head()

,Timestamp,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,2019/05/07 2:59:13 PM GMT+8,FPS001,Male,Indian,24.0,Traditional food,Fresh Juice,Maybe
1,2019/05/07 2:59:45 PM GMT+8,FPS002,Female,Indian,22.0,Western Food,Carbonated drinks,Yes
2,2019/05/07 3:00:05 PM GMT+8,FPS003,Male,Indian,NaN,Western Food,Fresh Juice,Maybe
3,2019/05/07 3:00:11 PM GMT+8,FPS004,Female,Indian,25.0,Traditional food,Fresh Juice,Maybe
4,2019/05/07 3:02:50 PM GMT+8,FPS005,Male,Indian,27.0,Traditional food,Fresh Juice,Maybe

In [52]:
foods = foods.drop(['Timestamp','Juice','Participant_ID'], axis = 1)
foods.head()

   Gender Nationality   Age              Food Dessert
0    Male      Indian  24.0  Traditional food   Maybe
1  Female      Indian  22.0      Western Food     Yes
2    Male      Indian   NaN      Western Food   Maybe
3  Female      Indian  25.0  Traditional food   Maybe
4    Male      Indian  27.0  Traditional food   Maybe

In [53]:
col = list(foods.columns)
print(foods[col[0]].isnull().values.any())
print(foods[col[1]].isnull().values.any())
print(foods[col[2]].isnull().values.any())
print(foods[col[3]].isnull().values.any())
print(foods[col[4]].isnull().values.any())

True
False
True
False
False

format age data as float

In [54]:
foods[col[2]] = foods[col[2]].astype('float')
foods[col[3]] = foods[col[3]].astype('str')
foods

     Gender Nationality   Age              Food Dessert
0      Male      Indian  24.0  Traditional food   Maybe
1    Female      Indian  22.0      Western Food     Yes
2      Male      Indian   NaN      Western Food   Maybe
3    Female      Indian  25.0  Traditional food   Maybe
4      Male      Indian  27.0  Traditional food   Maybe
..      ...         ...   ...               ...     ...
283    Male      Indian  27.0      Western Food     Yes
284    Male      Indian  24.0  Traditional food     Yes
285    Male      Indian  25.0  Traditional food     Yes
286    Male      Indian  27.0  Traditional food     Yes
287    Male      Indian  27.0  Traditional food      No

[288 rows x 5 columns]

**we know that in the gender and age colums has nan value so we deal with this nan values**

In [55]:
foods['Gender'].replace(np.nan, "no gender", inplace = True)
ageMedian = foods['Age'].median()
foods['Age'].replace(np.nan, ageMedian, inplace = True)
foods

     Gender Nationality   Age              Food Dessert
0      Male      Indian  24.0  Traditional food   Maybe
1    Female      Indian  22.0      Western Food     Yes
2      Male      Indian  28.0      Western Food   Maybe
3    Female      Indian  25.0  Traditional food   Maybe
4      Male      Indian  27.0  Traditional food   Maybe
..      ...         ...   ...               ...     ...
283    Male      Indian  27.0      Western Food     Yes
284    Male      Indian  24.0  Traditional food     Yes
285    Male      Indian  25.0  Traditional food     Yes
286    Male      Indian  27.0  Traditional food     Yes
287    Male      Indian  27.0  Traditional food      No

[288 rows x 5 columns]

In [56]:
print(foods[col[0]].isnull().values.any())
print(foods[col[1]].isnull().values.any())
print(foods[col[2]].isnull().values.any())
print(foods[col[3]].isnull().values.any())
print(foods[col[4]].isnull().values.any())

False
False
False
False
False

In [57]:
foods['Food'] = foods['Food'].apply(lambda x: str(x).split(' ')[0])
foods

     Gender Nationality   Age         Food Dessert
0      Male      Indian  24.0  Traditional   Maybe
1    Female      Indian  22.0      Western     Yes
2      Male      Indian  28.0      Western   Maybe
3    Female      Indian  25.0  Traditional   Maybe
4      Male      Indian  27.0  Traditional   Maybe
..      ...         ...   ...          ...     ...
283    Male      Indian  27.0      Western     Yes
284    Male      Indian  24.0  Traditional     Yes
285    Male      Indian  25.0  Traditional     Yes
286    Male      Indian  27.0  Traditional     Yes
287    Male      Indian  27.0  Traditional      No

[288 rows x 5 columns]